.drejt{
    display: flex;
    justify-content: space-between;
}

#drejt{
    display: flex;
}
#main{
    display: flex;
}
#shuma{
    margin-left: 60px;
}
#main{
     border: 1px solid red green blue;
}
#be{
    margin-left: ;
}